h1{
    text-align: center;
    font-size: 40px;
}
h2{
    text-align: center;
    font-size: 30px;
}
.kuang{
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 18px;
}
.smallTitle,.smallText{
    font-size: 22px;
    padding-left: 36px;
}
.smallText{
    font-size: 18px;
}
.zhi{
    color: #999;
}
.blue{
    color: #00f;
}