@charset "utf-8";
/* CSS Document */
h1{
	text-align: center
}
#name{
	background-color: #000000;
	color: #ffffff;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	padding-left: 20px;
}
a{
	text-decoration: none;
	color:#FFFFFF;
}
div.笔记{
    border: 2px solid black;
    margin-bottom: 18px
}
h3.笔记,p.笔记{
    padding-left: 36px;
}
p.笔记{
    text-indent: 36px;
    font-size: 18px;
}
#day-发行{
    font-size: 23px;
    text-align: right
}