@charset "utf-8";
/* CSS Document */
h1{
	text-align: center
}
#name{
	background-color: #000000;
	color: #ffffff;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	padding-left: 20px;
}
a{
	text-decoration: none;
	color:#FFFFFF;
}
button{
    margin-left: 10px;
    margin-bottom: 18px;
}
.table{
    display: none;
}
.show{
    display: block;
}
table{
    margin-left: 10px;
    margin-bottom: 18px;
}
a.笔记列表{
    color: black;
    font-weight: 400;
}
div.日记{
    border: 2px solid black;
    margin-bottom: 18px
}
h3.日记,p.日记{
    padding-left: 36px;
}
p.日记{
    text-indent: 36px;
    font-size: 18px;
}
#day-发行{
    font-size: 23px;
    text-align: right
}